<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Республика ВЭД - Запасные части для спецтехники и оборудование из Китая, Таиланда, Малайзии, Индонезии" />
    <title>Республика ВЭД</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="icon" type="image/png" href="logo.png" sizes="128x128" />
    <link rel="icon" type="image/png" href="img/favikon_rv.png" sizes="24x24" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(71276293, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/71276293" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</head>
<body>
    <div class="wrapper">
        <div id="container_page">
            <header id="header">
                <div class="header_body">
                    <img onclick='document.location.href = "https://республика-вэд.рф/";' src="img/r_logo.svg"/>
                    <div class="header_title">
                        Запасные части для спецтехники и оборудование из Китая, Таиланда, Малайзии, Индонезии
                    </div>
                    <div class="header_title mobile_title">
                        Запасные части для спецтехники и оборудование из Китая, Таиланда, Малайзии, Индонезии
                    </div>
                    <div class="header_menu">
                        <ul class="header_list">
                            <li>
                                <a href="#" class="header_link header_accordion_a">
                                    Каталог
                                    <span></span>
                                </a>
                                <div class="header_accordion" style="display: none;">
                                    <div class="header_accordion_container">
                                        <a class="catalog_item1_h" href="#catalog">Спецтехника и запчасти</a> <br>
                                        <a class="catalog_item2_h" href="#catalog">Грузовые авто и запчасти</a> <br>
                                        <a class="catalog_item3_h" href="#catalog">Спецоборудование и комплектующие</a> <br>
                                        <a class="catalog_item4_h" href="#catalog">Подшипники импортные</a> <br>
                                        <a class="catalog_item5_h" href="#catalog">Изделия из черных металлов</a> <br>
                                    </div>
                                </div>
                            </li>
                            <li><a href="#about" class="header_link">О компании</a></li>
                            <li><a href="#contacts" class="header_link">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="burger_menu">
                        <span></span>
                    </div>
                    <div>
                        <div class="header_phone">
                            <a href="tel:+79149600739">+7 (914) 960-07-39</a>
                        </div>
                        <div class="header_email">
                            <a href="mailto:RepublicVED@gmail.com">RepublicVED@gmail.com </a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="header_menu_mobile" style="display: none;">
                <div class="header_body">
                <img onclick='document.location.href = "https://республика-вэд.рф/";' src="img/r_logo.svg"/>
                <div class="header_title mobile_title">
                    Запасные части для спецтехники и оборудование из Китая, Таиланда, Малайзии, Индонезии
                </div>

                <div class="burger_menu bm_ac" >
                    <span></span>
                </div>
            </div>
                <ul class="header_list hl_mo">
                    <li>

                        <a href="#" class="header_link header_accordion_a">
                            Каталог
                            <span></span>
                        </a>
                        <div class="header_accordion" style="display: none;">
                            <div class="header_accordion_container">
                                <hr>
                                <a class="catalog_item1_h hl_m" href="#catalog">Спецтехника и запчасти</a> <hr>
                                <a class="catalog_item2_h hl_m" href="#catalog">Грузовые авто и запчасти</a> <hr>
                                <a class="catalog_item3_h hl_m" href="#catalog">Спецоборудование и комплектующие</a> <hr>
                                <a class="catalog_item4_h hl_m" href="#catalog">Подшипники импортные</a> <hr>
                                <a class="catalog_item5_h hl_m" href="#catalog">Изделия из черных металлов</a> <br>
                            </div>
                        </div>
                    </li>
                    <li><a href="#about" class="header_link hl_m">О компании</a></li>
                    <li><a href="#contacts" class="header_link hl_m">Контакты</a></li>

                </ul>
                <div class="header_buttons_mobile">
                <a href="tel:+79149600739" class="mobile_btn_call">Позвонить</a>
                <br>
                <a href="https://wa.me/79149600739" class="call_whatsapp" >Написать Whatsapp</a>
            </div>
            </div>
            <!-- Главный слайдер-->
            <!--<div class="container" id="container">
                <div class="caption" id="slider-caption">
                    <div class="caption-heading">
                        <h2>Lorem Ipsum</h1>
                    </div>
                    <div class="caption-subhead">
                        <span>dolor sit amet, consectetur adipiscing elit. </span>
                    </div>
                    <a class="btn" href="#">Sit Amet</a>
                </div>
                <div class="left-col" id="left-col">
                    <div id="left-slider"></div>
                </div>
                <ul class="nav">
                    <li class="slide-up">
                        <a id="up_button" href="#"><</a>
                    </li>
                    <li class="slide-down">
                        <a id="down_button" href="#">></a>
                    </li>
                </ul>
            </div> -->
                <div id="slides" class="container">
                <ul class="nav">
                    <li class="slide-up">
                        <a id="up_button" @click="prev" href="#"><</a>
                    </li>
                    <li class="slide-down">
                        <a id="down_button" @click="next" href="#">></a>
                    </li>
                </ul>
        <!--<p>
            <a @click="prev">Previous</a> || <a @click="next">Next</a>
        </p>-->
            <div class='slider js-slider'>
                <transition-group name="fade">
                    <div class="slider__body"
                    v-for="number in [currentNumber]"
                    v-bind:key="number" mode="out-in" :duration="{ enter: 500, leave: 800 }"
                    >

                        <div class="slider__slide" :style='"background-image: url(" + images[Math.abs(currentNumber) % images.length] + ")"'
                        v-on:mouseover="stopRotation"
                        v-on:mouseout="startRotation">
                            <div class="slider__text">{{text[Math.abs(currentNumber) % text.length]}}</div>
                            <div class="slider__subtext">{{subtext[Math.abs(currentNumber) % subtext.length]}}</div>
                        </div>

                    </div>
                </transition-group>
            </div>
        </div>
            <!-- -->

            <!-- О компании -->
            <div id="about">
                <div class="main_text">
                    О КОМПАНИИ
                </div>
                <div class="about_text">
                    Компания ООО "Республика ВЭД" - один из крупнейших поставщиков на рынке продаж
                    <wbr>
                    специализированного оборудования из стран Таиланд, Китай, Малайзия и т.д., комплектующих для
                    <wbr>
                    грузовиков и автобусов, спецтехники, а также запасных частей для них, труб и металлопроката,
                    <wbr>
                    подшипников импортных.
                    <br>
                    <br>
                    С 2018 года мы занимаемся реализацией надежных, высокотехнологичных и долговечных поставок для
                    <wbr>
                    большинства марок зарубежной техники и комплектующих.
                </div>
            </div>
            <!-- Синий блок -->
            <div class="blue_block">
                <div class="blue_block_flex">
                    <a href="javascript:void(null);"> Работа напрямую с заводами-изготовителями </a>
                    <hr>
                    <a href="javascript:void(null);"> Наличие большой производственной базы </a>
                    <hr>
                    <a href="javascript:void(null);"> Собственный склад и значительные площади для хранения </a>
                    <hr>
                    <a href="javascript:void(null);"> Отлаженная система доставки и оплаты </a>
                </div>
            </div>
            <!-- Каталог -->
            <div id="app">
                <div v-if="visible"> <!-- visible -->
                    <div class="main_text block_after_block">
                        КАТАЛОГ
                    </div>
                    <div class="catalog_flex" id="catalog">
                        <div class="catalog_flex_button catalog_item1 catalog_active">СПЕЦТЕХНИКА И ЗАПЧАСТИ <span></span></div>
                        <div class="catalog_flex_button catalog_item2">ГРУЗОВИКИ И ЗАПЧАСТИ <span></span></div>
                        <div class="catalog_flex_button catalog_item3">СПЕЦОБОРУДОВАНИЕ И КОМПЛЕКТУЮЩИЕ <span></span></div>
                        <div class="catalog_flex_button catalog_item4">ПОДШИПНИКИ ИМПОРТНЫЕ <span></span></div>
                        <div class="catalog_flex_button catalog_item5">ИЗДЕЛИЯ ИЗ ЧЕРНЫХ МЕТАЛЛОВ <span></span></div>
                    </div>
                    <!-- Внутри каталога вкладки для разных типов -->

                    <!--    spare parts for special equipment - spfse
                            SPARE PARTS FOR ENGINES - spfe
                            SPECIAL EQUIPMENT AND EQUIPMENT - seae
                            CABINS FOR SPECIAL EQUIPMENT - cfse   -->

                    <!-- ЗАПЧАСТИ ДЛЯ СПЕЦТЕХНИКИ -->

                    <div class="catalog_flex" id="catalog_item1">
                        <div class="catalog_img_6">
                            <div class="card_6">
                                <img src="img/new/xcmg.png"/>
                            </div>
                        </div>
                        <div class="catalog_img_6">
                            <div class="card_6">
                                <img src="img/new/changline.png"/>
                            </div>
                        </div>
                        <div class="catalog_img_6">
                            <div class="card_6">
                                <img src="img/new/howo.png"/>
                            </div>
                        </div>
                        <div class="catalog_img_6">
                            <div class="card_6">
                                <img src="img/new/sdlg.png"/>
                            </div>
                        </div>
                        <div class="catalog_img_6">
                            <div class="card_6">
                                <img src="img/new/liugong.png"/>
                            </div>
                        </div>
                        <div class="catalog_img_6">
                            <div class="card_6">
                                <img src="img/new/sem.png"/>
                            </div>
                        </div>
                        <div class="catalog_img_6">
                            <div class="card_6">
                                <img src="img/new/shantui.png"/>
                            </div>
                        </div>
                    </div>
                    <!-- ЗАПЧАСТИ ДЛЯ ДВИГАТЕЛЕЙ -->
                    <div class="catalog_flex" id="catalog_item2" style="display: none;">
                        <div class="catalog_img_6">
                            <div class="card_6">
                                <img src="img/new/foton.jpg"/>
                            </div>
                        </div>
                        <div class="catalog_img_6">
                            <div class="card_6">
                                <img src="img/new/jac_1.jpg"/>
                            </div>
                        </div>
                        <div class="catalog_img_6">
                            <div class="card_6">
                                <img src="img/new/dongfeng.jpg"/>
                            </div>
                        </div>
                        <div class="catalog_img_6">
                            <div class="card_6">
                                <img src="img/new/camc.jpg"/>
                            </div>
                        </div>
                        <div class="catalog_img_6">
                            <div class="card_6">
                                <img src="img/new/baw.jpg"/>
                            </div>
                        </div>
                    </div>
                    <!-- СПЕЦТЕХНИКА И ОБОРУДОВАНИЕ -->
                    <div class="catalog_flex" id="catalog_item3" style="display: none;">
                        <div class="catalog_img_3">
                            <div class="card_3">
                                <img src="img/new/macerator1.jpg"/>
                                <div class="card_3_podtext">ДРОБИЛЬНЫЕ МАШИНЫ</div>
                            </div>
                        </div>
                        <div class="catalog_img_3">
                            <div class="card_3">
                                <img src="img/new/line2.jpg"/>
                                <div class="card_3_podtext">ЛИНИИ ПО ПРОИЗВОДСТВУ</div>
                            </div>
                        </div>
                        <div class="catalog_img_3">
                            <div class="card_3">
                                <img src="img/new/zavod.jpg"/>
                                <div class="card_3_podtext">БЕТОННЫЕ ЗАВОДЫ</div>
                            </div>
                        </div>
                    </div>
                    <!-- КАБИНЫ ДЛЯ СПЕЦТЕХНИКИ -->
                    <div class="catalog_flex" id="catalog_item4" style="display: none;">
                        <div class="catalog_img_3">
                            <div class="card_3">
                                <img src="img/new/rolikovye.jpg"/>
                                <div class="card_3_podtext">ПОДШИПНИКИ РОЛИКОВЫЕ</div>
                            </div>
                        </div>
                        <div class="catalog_img_3">
                            <div class="card_3">
                                <img src="img/new/sharikovye.jpg"/>
                                <div class="card_3_podtext">ПОДШИПНИКИ ШАРИКОВЫЕ</div>
                            </div>
                        </div>
                        <div class="catalog_img_3">
                            <div class="card_3">
                                <img src="img/new/sfericheskye.jpg"/>
                                <div class="card_3_podtext">ПОДШИПНИКИ СФЕРИЧЕСКИЕ</div>
                            </div>
                        </div>
                        <div class="catalog_img_3">
                            <div class="card_3">
                                <img src="img/new/upornye.jpg"/>
                                <div class="card_3_podtext">ПОДШИПНИКИ УПОРНЫЕ</div>
                            </div>
                        </div>
                    </div>
                    <!-- -->
                    <div class="catalog_flex" id="catalog_item5" style="display: none;">
                        <div class="catalog_img_3">
                            <div class="card_3">
                                <img src="img/new/truby.jpg"/>
                                <div class="card_3_podtext">ТРУБЫ</div>
                            </div>
                        </div>
                        <div class="catalog_img_3">
                            <div class="card_3">
                                <img src="img/new/rulon.jpg"/>
                                <div class="card_3_podtext">ПРОКАТ В РУЛОНАХ</div>
                            </div>
                        </div>
                        <div class="catalog_img_3">
                            <div class="card_3">
                                <img src="img/new/LISTOVOY.jpg"/>
                                <div class="card_3_podtext">ПРОКАТ ЛИСТОВОЙ</div>
                            </div>
                        </div>
                        <div class="catalog_img_3">
                            <div class="card_3">
                                <img src="img/new/stal_tolstaya.jpg"/>
                                <div class="card_3_podtext">ТОЛСТОЛИСТОВАЯ СТАЛЬ</div>
                            </div>
                        </div>
                    </div>
                    <!-- <button class="contact_us"> <a href="#zayavka"> СВЯЗАТЬСЯ С НАМИ </a> </button> -->
                    </div>


                    <!-- invisible -->

                    <div v-else>
                        <div class="main_text block_after_block">
                            КАТАЛОГ
                        </div>
                        <div class="catalog_flex" id="catalog">
                            <div class="catalog_flex_button catalog_item1 catalog_active">СПЕЦТЕХНИКА И ЗАПЧАСТИ <span></span>
                                                    <!-- ЗАПЧАСТИ ДЛЯ СПЕЦТЕХНИКИ -->

                                <div class="catalog_flex" id="catalog_item1">
                                    <div class="catalog_img_6">
                                        <div class="card_6">
                                            <img src="img/new/xcmg.png"/>
                                        </div>
                                    </div>
                                    <div class="catalog_img_6">
                                        <div class="card_6">
                                            <img src="img/new/changline.png"/>
                                        </div>
                                    </div>
                                    <div class="catalog_img_6">
                                        <div class="card_6">
                                            <img src="img/new/howo.png"/>
                                        </div>
                                    </div>
                                    <div class="catalog_img_6">
                                        <div class="card_6">
                                            <img src="img/new/sdlg.png"/>
                                        </div>
                                    </div>
                                    <div class="catalog_img_6">
                                        <div class="card_6">
                                            <img src="img/new/liugong.png"/>
                                        </div>
                                    </div>
                                    <div class="catalog_img_6">
                                        <div class="card_6">
                                            <img src="img/new/sem.png"/>
                                        </div>
                                    </div>
                                    <div class="catalog_img_6">
                                        <div class="card_6">
                                            <img src="img/new/shantui.png"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="catalog_flex_button catalog_item2">ГРУЗОВИКИ И ЗАПЧАСТИ <span></span>
                                <!-- ЗАПЧАСТИ ДЛЯ ДВИГАТЕЛЕЙ -->
                                <div class="catalog_flex" id="catalog_item2" style="display: none;">
                                    <div class="catalog_img_6">
                                        <div class="card_6">
                                            <img src="img/new/foton.jpg"/>
                                        </div>
                                    </div>
                                    <div class="catalog_img_6">
                                        <div class="card_6">
                                            <img src="img/new/jac_1.jpg"/>
                                        </div>
                                    </div>
                                    <div class="catalog_img_6">
                                        <div class="card_6">
                                            <img src="img/new/dongfeng.jpg"/>
                                        </div>
                                    </div>
                                    <div class="catalog_img_6">
                                        <div class="card_6">
                                            <img src="img/new/camc.jpg"/>
                                        </div>
                                    </div>
                                    <div class="catalog_img_6">
                                        <div class="card_6">
                                            <img src="img/new/baw.jpg"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="catalog_flex_button catalog_item3">СПЕЦОБОРУДОВАНИЕ И КОМПЛЕКТУЮЩИЕ <span></span>
                                <!-- СПЕЦТЕХНИКА И ОБОРУДОВАНИЕ -->
                                <div class="catalog_flex" id="catalog_item3" style="display: none;">
                                    <div class="catalog_img_3">
                                        <div class="card_3">
                                            <img src="img/new/macerator1.jpg"/>
                                            <div class="card_3_podtext">ДРОБИЛЬНЫЕ МАШИНЫ</div>
                                        </div>
                                    </div>
                                    <div class="catalog_img_3">
                                        <div class="card_3">
                                            <img src="img/new/line2.jpg"/>
                                            <div class="card_3_podtext">ЛИНИИ ПО ПРОИЗВОДСТВУ</div>
                                        </div>
                                    </div>
                                    <div class="catalog_img_3">
                                        <div class="card_3">
                                            <img src="img/new/zavod.jpg"/>
                                            <div class="card_3_podtext">БЕТОННЫЕ ЗАВОДЫ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="catalog_flex_button catalog_item4">ПОДШИПНИКИ ИМПОРТНЫЕ <span></span>
                                <!-- КАБИНЫ ДЛЯ СПЕЦТЕХНИКИ -->
                                <div class="catalog_flex" id="catalog_item4" style="display: none;">
                                    <div class="catalog_img_3">
                                        <div class="card_3">
                                            <img src="img/new/rolikovye.jpg"/>
                                            <div class="card_3_podtext">ПОДШИПНИКИ РОЛИКОВЫЕ</div>
                                        </div>
                                    </div>
                                    <div class="catalog_img_3">
                                        <div class="card_3">
                                            <img src="img/new/sharikovye.jpg"/>
                                            <div class="card_3_podtext">ПОДШИПНИКИ ШАРИКОВЫЕ</div>
                                        </div>
                                    </div>
                                    <div class="catalog_img_3">
                                        <div class="card_3">
                                            <img src="img/new/sfericheskye.jpg"/>
                                            <div class="card_3_podtext">ПОДШИПНИКИ СФЕРИЧЕСКИЕ</div>
                                        </div>
                                    </div>
                                    <div class="catalog_img_3">
                                        <div class="card_3">
                                            <img src="img/new/upornye.jpg"/>
                                            <div class="card_3_podtext">ПОДШИПНИКИ УПОРНЫЕ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="catalog_flex_button catalog_item5">ИЗДЕЛИЯ ИЗ ЧЕРНЫХ МЕТАЛЛОВ <span></span>
                                <!-- -->
                                <div class="catalog_flex" id="catalog_item5" style="display: none;">
                                    <div class="catalog_img_3">
                                        <div class="card_3">
                                            <img src="img/new/truby.jpg"/>
                                            <div class="card_3_podtext">ТРУБЫ</div>
                                        </div>
                                    </div>
                                    <div class="catalog_img_3">
                                        <div class="card_3">
                                            <img src="img/new/rulon.jpg"/>
                                            <div class="card_3_podtext">ПРОКАТ В РУЛОНАХ</div>
                                        </div>
                                    </div>
                                    <div class="catalog_img_3">
                                        <div class="card_3">
                                            <img src="img/new/LISTOVOY.jpg"/>
                                            <div class="card_3_podtext">ПРОКАТ ЛИСТОВОЙ</div>
                                        </div>
                                    </div>
                                    <div class="catalog_img_3">
                                        <div class="card_3">
                                            <img src="img/new/stal_tolstaya.jpg"/>
                                            <div class="card_3_podtext">ТОЛСТОЛИСТОВАЯ СТАЛЬ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /invisible -->
            </div>
            <!-- Контакты -->
            <div>
                <div class="main_text block_after_block" id="contacts">
                    КОНТАКТЫ
                </div>
                <div class="contacts_flex">
                    <!-- Адрес и карта -->
                    <div class="flex_addr_map">
                        <div class="flex_map_vertical">
                            <!-- address -->
                            <ul class="address_list">
                                <li class="al_addr">
                                    692926
                                    <br>
                                    ПРИМОРСКИЙ КРАЙ, Г. НАХОДКА
                                    <br>
                                    НАХОДКИНСКИЙ ПР-Т, 45, ОФИС 2
                                </li>
                                <li class="al_tel">
                                    +7 (914) 690-07-39
                                </li>
                                <li class="al_email">
                                    RepublicVED@gmail.com
                                </li>
                            </ul>
                            <!-- map -->
                            <div class="">
                                <!--<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1ebe207b0b9c242b2e44d74a6f0716e7b914f09bdfac5edfe999a8561ecd7dbb&amp;width=100%25&amp;height=425&amp;lang=ru_RU&amp;scroll=true"></script>-->
                                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A61651abef05ddb2971abaa82a57768f85b8dbdb7157c3ba4858c5a7d09e50f9b&amp;width=100%25&amp;height=425&amp;lang=ru_RU&amp;scroll=true"></script>
                            </div>
                        </div>
                    </div>
                    <!-- Форма заявки -->
                    <div class="flex_form">
                        <form action="javascript:void(null);" id="zayavka" method="POST" onsubmit="call();">
                            <div class="container_form">

                                <div class="form_bold"> ОТПРАВЬТЕ НАМ ЗАЯВКУ </div>
                                <br>
                                <div class="form_text"> Введите ваше имя и фамилию* </div>
                                <input type="text" required placeholder="Иванов Иван" name="user_name">
                                <br>
                                <div class="form_text"> Введите ваш телефон* </div>
                                <input type="tel" required placeholder="+7 (___) ___ __ __" name="user_phone">
                                <br>
                                <br>
                                <br>
                                <input type="text" placeholder="Введите текст письма" name="user_comment">
                                <br>
                                <br>
                                <!-- -->
                                <input type="checkbox" required id="personal_data_p" class="custom-checkbox_p">
                                <label for="personal_data_p"> Я согласен на обработку персональных данных </label>
                                <!-- -->
                                <br> <br>
                                <span>Защита от автоматических сообщений</span>
                                <!--<div class="g-recaptcha" data-sitekey="6LdrOC0aAAAAAANv_m3W-ZshuvqvfWhvIflh1wMt"></div>
                                <div class="text-danger" id="recaptchaError"></div>
                                <!-- <a href="javascript:;" onclick="document.getElementById('popup2').style.display='block';"> -->
                                <button class="contact_us form_submit" type="submit"> СВЯЗАТЬСЯ С НАМИ </button>
                                <!-- </a> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>



            <!-- Футер -->
            <footer id="footer">
                <div class="footer_body">
                    <div class="footer_text">
                        ООО Республика ВЭД 2021
                        <br>
                        <a href="policy.pdf" class="footer_link"> Политика конфиденциальности</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"> </script>
    <script src="js/vue_app.js"></script>

    <script>
        function call() {
            var msg = $(`#zayavka`).serialize();
            $.ajax({
            type: 'POST',
            url: 'mail.php',
            data: msg,
            success: function(data) {
                console.log("excellent!");
                alert('Заявка успешно отправлена. В ближайшее время наши специалисты свяжутся с вами.');
            },
            error:  function(xhr, str){
                console.log(msg);
                //alert('Возникла ошибка: ' + xhr.responseCode);
                }
            });
        }
    </script>

</body>
</html>
